body{
  background-color: #132c33;
  color: #d8e3e7;
}
hr{
  border-style: dotted none none;
  border-color: #d8e3e7;
  border-width: 5px;
  width: 10%;
}
h1{
  font-family: 'Dancing Script', cursive;
  color: #51c4d3;
}
h3{
  font-family: 'Dancing Script', cursive;
  color: #51c4d3;
}
p{
  color: #d8e3e7;
}
a{
  color: hotpink;
}
